/* MainBoardPage.css */

.game-board {
  position: relative;
  width: 700px; /* 7칸 * 100px */
  height: 700px; /* 7칸 * 100px */
  margin: 40px auto;
}

.tile {
  position: absolute;
  width: 50px;
  height: 50px;
  /*border: 1px solid white;*/
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  word-break: keep-all;
}
